.minefield-container {

    background-color: var(--bg2);

    align-self:center;
    justify-self:center;

    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;

    margin: 30px;
    width: min(75%, 65vmin);
    height: auto;
    padding: 20px;
    aspect-ratio: 1/1;

    border-radius: 30px;

    transition: border 1s var(--easeOutQuint);

}

.minefield-tile {
    width: auto;
    height: auto;
    border: none;
    border-radius: 20%;

    align-content: center;
    justify-content: center;

    border: 0px solid;
}

.minefield-number {
    margin: 0px;
}

.tile-revealed {
    background-color: var(--bg1);
}

.tile-hidden {
    background-color: rgba(93, 89, 138, 0.459);
}

.hover-changes-color {
    transition: background-color 0.3s var(--easeOutQuint);
    &:hover {
        background-color: white !important;
    }
}

.timer-cell {
    background: #000000;
    width: 100px;
    height: 80px;
    border-radius: 10%;
    align-content: center;

    @media (prefers-color-scheme: dark) {
        border: 2px dotted white;
    }

    p {
        font-size: 1.4rem;
        transition: color 1s var(--easeOutQuint);
    }
}

#win-text {
    color: lime;
}

.status-text {
    transition: all 1s var(--easeOutQuint);
    font-family: "Merriweather";
    font-size: 2rem;
}

.dropdown {
    border: 3px solid var(--contrastColor);
    border-radius: 20px;
    background: transparent;
    padding: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);

    position: relative;

    option {
        position: absolute;
        background: var(--bg1);
        border: 2px solid var(--contrastColor);
        color: var(--contrastColor);
    }
}

input[type="range"] {
    appearance: none;

    accent-color: var(--color1);
    background: var(--bg1);
    border: 3px solid var(--contrastColor);
    outline: none;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.6);

    width: 65%;
    height: 20px;

    border-radius: 30px;

    &::-webkit-slider-thumb {
        appearance: none;
        background: var(--contrastColor);
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }
}

@media (prefers-color-scheme: light) {
    #win-text {
        color: green;
    }
}