#root {
  margin: 0 0;
  text-align: center;
  width: 95vw;
}

/* graphics */

.banner {
    position: relative;
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(to bottom right, var(--color1), var(--color2));

      z-index:-1;
      mix-blend-mode: color;
    }

    img {
      position: absolute;
      width: auto;
      height: auto;

      min-width: 100%;
      min-height: 100%;
      z-index: -1;
      opacity: 0.3;
    }
}

@keyframes rotate {
  to { --angle: 360deg; }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* divs */

#project-list {
  width: 100%;
  margin-block: 20px;
}

.project-container {
  background-color: var(--bg2);
  border-radius: 20px;
  padding: 2rem;
  margin: 8%;
  gap: 2rem;
  display: flex;
  flex-direction: row;

  box-shadow: 0 0 0px 0px var(--bg2);
  transition: 
    box-shadow 1s var(--easeOutQuint),
    transform 0.6s var(--easeOutBounce),
    opacity 0.6s var(--easeOutQuint);

  &:hover {
    box-shadow: 0 0 0px 5px var(--color1);
  }
}
  
.project-title {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  gap: 2rem;
  color: var(--color1);

  img {
    width: 100%;
    max-width: 60vw;
    border-radius: 20px;
    box-shadow: 0px 10px 10px 0px black;
  }
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vh;
  flex: 0 0 55%;

  text-align: justify;
  overflow-wrap: break-word;
}

.navbar {
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  background: var(--bg1);
  width: 100%;

  position: sticky;
  top: 0;
  z-index:10;
  
  strong {
    padding: 10px;
    font-size: 20px;
  }
}

.personal-attribute {
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  align-self: center; 
  position: relative;
  overflow: show;

  padding: 20px; 
  margin: 20px;
  transform: translateY(0px);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transition: all 0.4s var(--easeOutQuint);

  &:hover {
    transform: translateY(-5px);
    color: white;

    &:after {
      opacity: 0;
    }
  }

  &:after {
    content: "";
    position: absolute;
    background: var(--bg2);
    inset: 0;
    z-index: -1;
    border-radius: 18px;
    
    mix-blend-mode: normal;
    opacity: 1;
    transition: opacity 0.4s var(--easeOutQuint);
  }

  &:before {
    content: "";
    position: absolute;
    background: rgb(80, 80, 80);
    inset: 0;
    z-index: -1;
    border-radius: 20px;
    
    mix-blend-mode: multiply;
  }

}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* interactable elements */

.fancy-button {
  border-radius: 8px;
  border: 2px solid;
  padding: 0.4em 1em;
  font-size: 1em;
  font-weight: 500;
  top: 0px;
  box-shadow: black 0px 4px 5px 0;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  z-index: 1;

  background-color: transparent;
  border-color: var(--color1);
  transition:
    top 0.3s var(--easeOutQuint),
    box-shadow 0.3s var(--easeOutQuint),
    border-radius 0.6s var(--easeOutQuint),
    color 0.6s var(--easeOutQuint),
    border-color 0.6s var(--easeOutQuint);

  &:before {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: circle(0%);
    background-color: var(--color1);
    transition: 
      clip-path 0.6s var(--easeOutQuint),
      background-color 0.3s var(--easeOutQuint);
    z-index: -1;
  }

  &:hover {
    border-radius: 3px;
    color: black;
    &::before {
      clip-path: circle(100%);
    }
  }

  &:active {
    top: 2px;
    box-shadow: black 0px 2px 2px 0;
    border-color: var(--color2);
    &:before {
      background-color: var(--color2);
    }
  }

}


.gradient-button {
  background: var(--bg1);
  color: var(--color1);
  cursor: pointer;

  padding: 0.8em 1.5em;
  margin: 15px;
  position: relative;

  border: none;
  border-radius: 1em;
  font-size: 1.1rem;
  
  transition: all 0.2s var(--easeOutQuint);

  &:after {
    content: "";
    position: absolute;
    inset: -4px;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 4px 5px 0;

    background: linear-gradient(to bottom right, var(--color1), var(--color2));
    border-radius: 20px;

    z-index: -1;

  }

  &:hover {
    color: white;
    background: transparent;
  }

  &:active {
    top: 2px;
    color: white;
    &:after {
      box-shadow: rgba(0, 0, 0, 0.534) 0px 2px 5px 0;
    }
  }

}

a {
  font-weight: 500;
  color: var(--color1);
  text-decoration: inherit;
}
a:hover {
  color: var(--color2);
}

@media (max-width: 950px) {
  .project-container {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: light) {
  .fancy-button:hover {
    color: white;
  }
}
