

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  place-items: center;

  color: var(--contrastColor);
  color-scheme: light dark;
  background-color: var(--bg1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* no side scrolling */
  overflow-x: hidden;

  /* variables */

  --easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  --easeOutBounce: cubic-bezier(0.34, 1.56, 0.64, 1);
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Merriweather";
  line-height: min(4rem, 8vw);
  font-size: min(4rem, 8vw);
  margin-inline: 30px;
  padding: 20px;
}

h2 {
  font-size: min(2rem, 4vw);
  margin: 0;
}

p {
  font-size: min(1rem, 2.5vw);
  font-family: "Cascadia Code", sans-serif;
}



.oswald {
  font-family: "Oswald", sans-serif;
}

.cascadia-code {
  font-family: "Cascadia Code", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.google-sans-code {
  font-family: "Google Sans Code", monospace;
}

.merriweather {
  font-family: "Merriweather", sans-serif;
}

.funnel-sans {
  font-family: "Funnel Sans", sans-serif;
}


@media (prefers-color-scheme: light) {
  :root {
    --bg1: #ffffff;
    --bg2: #c0cedd;

    --color1: #4e68df;
    --color2: #ff9f46;

    --contrastColor: #1b2630;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg1: #100f14;
    --bg2: #25232e;

    --color1: #ffde24;
    --color2: #ae91ff;

    --contrastColor: white;
  }
}
